@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Poppins:wght@100;400;500&family=Roboto:ital,wght@1,500&display=swap");
body {
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}
.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  min-height: 100vh;
}

.outlet {
  flex-grow: 1;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

.home-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main--page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main--page .search {
  border: 2px solid red;
  margin: 1rem;
  padding: 0.8rem;
}

.header {
  height: 14rem;
  max-width: 100%;
  background-color: rgb(236, 20, 4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* margin-bottom: 1rem; */
}

/* .header .nav nav {
  margin: 0 1rem;
} */

.header .logo {
  width: 12rem;
  height: 8rem;
}

.header a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  margin-right: 1rem;
}

.categories--img {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 10px;
  margin: 2rem;
  margin-bottom: 0px;
  height: 31rem;
}

.categories--img img {
  width: 100%;
  height: 8rem;
}

/* .category {
  position: relative;
} */

.category a {
  color: black;
}

.category h3 {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -10%);
  background-color: white;
  opacity: 0.7;
  padding: 5px;
}

.intro--cover {
  position: relative;
  margin-bottom: 3rem;
  width: 100%;
}
.intro--coverImg {
  height: 20rem;
  position: relative;
}

.intro--cover a {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, -10%);
  background-color: red;
  color: white;
  padding: 5px;
  width: 12rem;
  height: 3rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.intro--cover a:hover {
  opacity: 0.8;
  font-weight: 900;
}
.intro--coverImg {
  width: 100%;
  height: 32rem;
  position: relative;
}
.intro--coverImg {
  width: 100%;
  height: 20rem;
  position: relative;
}

.category {
  position: relative;
  overflow: hidden;
}

.category img {
  transition: transform 0.3s ease;
}

.category:hover img {
  transform: scale(1.1);
}

.review--page,
.about--page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.review--card,
.about--us {
  background-color: white;
  border: 2px solid red;
  padding: 2rem;
  width: 14rem;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  text-align: left;
}

.all--products {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin: 1rem;
  text-align: left;
}

.product--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 15px;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 10px;
  margin: 1rem 0;
  font-size: 10px;
  overflow: hidden;
}

.product--card .title {
  font-size: 0.8rem;
  margin: 5px;
  text-align: left;
}
.product--card img {
  width: 100%;
  height: 4rem;
  flex-grow: 1;
  transition: transform 0.3s ease;
  margin: 1rem;
}

.product--card img:hover {
  transform: scale(1.1);
}

.product--card .break--line {
  width: 100%;
  border: 0.4px solid gray;
  margin: 0px;
}

.product--card .price {
  margin: 2px 5px;
  font-weight: bold;
  font-size: 10px;
}
.product--card .rating {
  margin: 2px 5px;
  font-size: 10px;
}

.product--card h5 {
  margin-right: 1px;
  margin-bottom: 5px;
}

.filter--btn {
  display: block;
}

.viewDetails--btn {
  width: 85%;
  background-color: rgb(236, 20, 4);
  color: white;
  font-weight: 600;
  padding: 5px;
  margin-top: 1rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  height: 2rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add--to--cart--btn {
  font-weight: 600;
}

.add--to--cart--btn:hover {
  opacity: 0.8;
}

.viewDetails--btn:hover {
  opacity: 0.8;
  font-weight: 900;
}

.filter--component {
  background-color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  position: absolute;
  top: -15rem;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: left;
  width: 14rem;
  height: 35rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter--btn {
  background-color: red;
  color: white;
  font-weight: 600;
  margin: 1rem;
  width: 5rem;
  height: 2rem;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.clear--filters {
  background-color: red;
  color: white;
  padding: 5px;
  font-weight: 600;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.product--icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 1rem;
  margin-bottom: 5px;
  padding: 0;
}

.product--icons p {
  display: block;
  background-color: red;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details--page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  margin: 0 auto;

  margin-top: 2rem;
}
.details--page img {
  width: 14rem;
  height: 18rem;
}

.details--btn {
  display: flex;
  gap: 2rem;
}

.details--btn button,
.back--button {
  width: 8rem;
  height: 2rem;
  padding: 5px;
  background-color: red;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  margin-top: 1rem;
}

.details--btn .go--to--cart--link {
  border: none;
  font-weight: 600;
  background-color: white;
  color: red;
  cursor: pointer;
  margin-top: 1rem;
  text-decoration: underline;
}

.back--button {
  text-decoration: none;
  padding: 5px;
  margin-top: 1rem;
}

.price--details {
  display: flex;
  gap: 2px;
}

.price--details h4 {
  margin-right: 4px;
  font-size: 10px;
}

.wishlist--items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cart--page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.bill {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.billing--details {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.billing--details p {
  font-size: 15px;
}

.checkout--btn {
  background-color: red;
  width: 100%;
  height: 2rem;
  color: white;
  padding: 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
  cursor: pointer;
  font-weight: 600;
}

.checkout--btn a {
  text-decoration: none;
  width: 100%;
  color: white;
  font-weight: 600;
}

.checkout--btn:hover {
  opacity: 0.8;
}

.setQuantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.setQuantity p {
  font-size: 12px;
  margin: 10px;
}

.setQuantity button {
  background-color: red;
  color: white;
  border: none;
}

.header .nav {
  margin-top: 14px;
}
.cartBadge,
.wishlistBadge {
  position: relative;
  bottom: 1rem;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 10px;
}

.check--out {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  gap: 2rem;
}

.address--section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: none;
  padding: 1rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -5%);
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.form input,
.form .textArea {
  width: 18rem;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 1rem;
}

.form--btns {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.form--btns button {
  background-color: red;
  padding: 5px;
  border: none;
  color: white;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.address--section {
  margin: 1rem;
}

.address--section label {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  border: 1px solid red;
  width: 100%;
  text-align: left;
  gap: 2rem;
  margin: 1rem;
  padding: 1rem;
}

.address--section p {
  font-size: 14px;
  margin: 5px 0;
}

.add--address--btn {
  border: 2px solid red;
  width: 15rem;
  padding: 1rem;
  background-color: white;
  cursor: pointer;
  font-weight: 600;
}

.delete--address {
  background-color: red;
  color: white;
  font-weight: 600;
  padding: 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.auth--btn {
  background-color: rgb(236, 20, 4);
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.auth--text {
  font-size: 12px;
  color: white;
  /* margin-bottom: 12px; */
}

.nested-routes a {
  text-decoration: underline;
  margin: 1rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.footer--page {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24rem;
  margin-bottom: 0px;
  color: white;
}
.footer--page p {
  font-size: 12px;
}

.footer--page p {
  margin-bottom: 5px;
}

.footer--page .socialmedia--icons {
  display: flex;
  margin-top: 0;
}

.socialmedia--icons a {
  color: white;
  margin: 10px;
}
/* Styles for tablets (portrait) and up */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  p {
    font-size: 1.125rem;
  }
  body {
    font-size: 16px;
    width: 100%;
  }
  .header {
    height: 8rem;
    max-width: 100%;
    background-color: rgb(236, 20, 4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }
  .header a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-right: 2rem;
  }
  .categories--img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-row-gap: 10px;
  }
  .categories--img img {
    width: 100%;
    height: 10rem;
  }

  .all--products {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .filter--btn {
    display: block;
  }
  .product--card {
    margin: 1rem 0rem;
  }
  .product--card img {
    width: 100%;
    height: 10rem;
    flex-grow: 1;
  }

  .intro--coverImg {
    width: 100%;
    height: 32rem;
    position: relative;
  }
  .intro--coverImg {
    width: 100%;
    height: 20rem;
    position: relative;
  }
  .viewDetails--btn {
    height: 2rem;
    cursor: pointer;
  }

  .viewDetails--btn button {
    cursor: pointer;
  }
  .main--page .search {
    border: 2px solid red;
    margin: 1rem;
    width: 50%;
    padding: 0.8rem;
  }

  .review--card,
  .about--us {
    background-color: white;
    border: 2px solid red;
    padding: 2rem;
    width: 30rem;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    text-align: left;
  }
}

.about--us p {
  font-size: 14px;
}

/* Styles for laptops and up */
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
  }
  body {
    font-size: 18px;
    width: 100%;
  }
  .header {
    max-width: 100%;
    height: 9rem;
    background-color: rgb(236, 20, 4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }
  .header a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-right: 3rem;
  }
  .categories--img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 1rem;
    grid-row-gap: 10px;
  }
  .categories--img img {
    width: 100%;
    height: 18rem;
  }
  .all--products {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .filter--btn {
    display: none;
  }
  .product--card {
    font-size: 18px;
    padding: 10px;
  }

  .product--card .title {
    font-size: 1rem;
    text-transform: capitalize;
  }
  .product--card img {
    width: 100%;
    height: 10rem;

    margin: 0.7rem 0;
  }
  .product--card h5 {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .product--card a {
    font-size: 15px;
  }
  .intro--coverImg {
    width: 100%;
    height: 32rem;
    position: relative;
  }

  .home-body {
    width: 100%;
    font-size: 1rem;
    position: relative;
  }

  .filter--component {
    height: 40rem;
    width: 250px;
    position: absolute;
    left: 10rem;
    top: -14rem;
    margin: 0;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .all--products {
    padding-right: 3rem;
    margin-left: 350px;
    /* position: relative; */
  }
  .viewDetails--btn {
    height: 2.5rem;
  }
  .details--page {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.3);
  }
  .wishlist--items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 2rem;
  }

  .price--details h4 {
    margin-right: 4px;
    font-size: 15px;
  }
  .product--card .rating {
    margin: 5px;
    font-size: 1rem;
  }
  .cart--page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin: 2rem;
  }
  .billing--details {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
  }

  .billing--details p {
    font-size: 18px;
  }
  .check--out {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    margin-top: 5rem;
  }
  .address--section {
    margin: 0px;
  }
  .address--section label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
    width: 100%;
    text-align: left;
    gap: 2rem;
    margin: 1rem;
    padding: 1rem;
  }
  .search {
    display: block;
    margin-bottom: 10px;
    padding: 7px;
    border: 2px solid red;
    width: 15rem;
  }

  .review--card {
    background-color: white;
    border: 2px solid red;
    padding: 2rem;
    width: 30rem;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    text-align: left;
  }
}
